@model WebApp.Models.Visita

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Visita</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Motivo_visita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motivo_visita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_visita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_visita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora_entrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora_entrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora_salida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora_salida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_completo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_completo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contacto_recibio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contacto_recibio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Visitas }) |
    @Html.ActionLink("Back to List", "Index")
</p>
